body {
  font-family: Lato, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  color: #333;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
}

#navMenu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  text-decoration: none;
}

a:hover{
  color: #001725;
}

a {
  text-decoration: none;
  margin: 6px;
  color: #0074b9;
}

section {
  display: flex;
  align-self: center;
}

#card-box {
  display: flex;
  align-self: center;
  background-color: #edf2f6;
}

#inicio {
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: #001725;
  font-size: 36px;
  text-align: center;
  margin-top: 110px;
}

#imgInicio {
  display: block;
  margin: 0 auto;
  border-radius: 2%;
  margin-top: 40px;
  width: 70%;
  height: 50%;
}
.card {
  width: 30%;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  background-color: #f4fbff;
  border-radius: 2%;
}

.card h3 {
  color: #001725;
  padding: 10px 20px;
  text-align: center;
  font-size: 25px;
}

.card img {
  margin: 0 auto;
  border-radius: 8px;
  width: 300px;
  height: 200px;
}

.card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card ul {
  text-align: left;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #001725;
  padding: 10px 20px;
  width: 100%;
}

footer section {
  text-align: left;
  color: #edf2f6;
}
